.container {
    margin: 0 auto;
    text-align: center;
}

#button {
    padding: 20px;
    background-color: rgb(29, 193, 243);
    border-radius: 10px;
    margin-top: 10%;
}

.jokeContainer {
    margin: 0 auto;
    font-weight: bolder;
    font-size: 26px;
}

#button {
    font-weight: bolder;
    font-size: 26px;
}